**/.idea/
**/__pycache__/
**/*.pyc
**/model_checkpoints/
**/.DS_Store
*.log
*.txt

*.npy

*.dict
data/celex/graphemeTable\.csv

data/celex/phonemeTable\.csv

data/celex/En/sourceTable\.csv

data/celex/En/targetTable\.csv

data/celex/sourceTable\.csv

data/celex/targetTable\.csv
